<div class="@GetModalClass() modal-overlay" tabindex="-1" role="dialog">
    <div class="modal-backdrop-custom"></div>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="btn-close" aria-label="Fechar" @onclick="OnCancel"></button>
            </div>
            <div class="modal-body">
                <p>@Message</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" @onclick="OnCancel">Cancelar</button>
                <button class="btn btn-danger" @onclick="OnConfirm">Excluir</button>
            </div>
        </div>
    </div>
    <div class="modal-backdrop-custom"></div>
</div>



@code {
    [Parameter] public bool Show { get; set; }
    [Parameter] public string Title { get; set; } = "Confirmação";
    [Parameter] public string Message { get; set; } = "Deseja realmente prosseguir?";
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }

    private string GetModalClass() => Show ? "modal fade show d-block" : "modal fade d-none";
}
